<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elianshang.code.reader">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        //CheckinActivity ReceiptInfoActivity
        <activity android:name=".ui.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ReceiptOpenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ReceiptInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ShelveOpenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ShelveFinishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CreateScrapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CreateReturnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TransferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ProcurementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TakeStockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.QualityControlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ShipActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>